@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a {
  color: #848d96;
  text-decoration: none;
}

.body {
  display: block;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 100vh;
  background-color: #0b1c2f;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.leftcontent,
.rightcontent {
  -webkit-animation: fadein 4s;
  animation: fadein 4s;
}

.leftcontent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-left: 0px;

  width: 40%;
  max-width: 40%;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
  max-height: 100vh;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.name {
  margin-bottom: 40px;
  color: #47bec7;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.bold-text {
  font-weight: 600;
}

.tagline {
  margin-bottom: 40px;
  color: #ddd;
  font-size: 58px;
  line-height: 100%;
}

.quote,
.bio-list {
  margin-bottom: 40px;
  color: #848d96;
  font-size: 18px;
  line-height: 140%;
}

.bio-list {
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
}

.bio-item {
  margin-top: 5px;
  padding-left: 1rem;
  text-indent: -0.7rem;
}

.bio-item::before {
  content: "• ";
}

.bio-item a {
  font-style: italic;
  /*text-decoration: underline;*/
}

.text-block-2 {
  margin-bottom: 20px;
  color: #485462;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.list {
  color: #848d96;
  font-size: 16px;
  line-height: 160%;
  padding-left: 0;
  list-style: none;
}

.credit {
  color: #485462;
  font-size: 13px;
}

.rightcontent {
  overflow: auto;
  padding: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.content {
  overflow: auto;
}

.links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  margin-bottom: 40px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.bio-links {
  border-bottom: 1px solid #848d96;
  text-decoration: none;
}

.credit-links {
  color: #485462;
}

.image {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: block;
  min-height: 100vh;
  min-width: 100%;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-image: url("../images/profile.jpg");
  background-position: 50% 0%;
  background-size: cover;
  -o-object-fit: cover;
  object-fit: cover;
}

.column {
  width: 33.33333333%;
}

.svg-icon,
.svg-text {
  vertical-align: middle;
  display: inline-block;
}

.contact-area {
  margin-top: 60px;
  margin-bottom: 60px;
}

.contact-button {
  color: #e8e8e8;
  background: linear-gradient(
    90deg,
    rgb(2, 107, 144) 0%,
    rgba(0, 79, 164, 1) 100%
  );
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  font-weight: 400;
}

.svg-contact-button {
  padding-right: 5px;
  width: 25px;
  height: 25px;
}
.svg-contact-button path,
.svg-contact-button polygon,
.svg-contact-button rect {
  fill: #e6e6e6 !important;
}

.svg-icon {
  width: 18px;
  height: 18px;
  margin-right: 4px;
}
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #848d96;
}

@media screen and (max-width: 991px) {
  .leftcontent {
    display: block;
    -o-object-position: 50% 0%;
    object-position: 50% 0%;
    max-width: 100%;
    width: 100%;
    left: auto;
    right: auto;
  }

  .columns {
    display: block;
  }

  .rightcontent {
    padding-top: 80px;
    padding-bottom: 120px;
    text-align: center;
  }

  .column {
    margin-bottom: 20px;
    width: 50%;
  }

  .image {
    position: static;
    /*width: 100%;*/
    /*height: 420px;*/
    /*max-height: 50vh;*/
    /*min-height: auto;*/
    /*margin: 20px;*/

    min-height: unset;
    min-width: unset;
    left: 50%;
    width: 300px;
    height: 300px;
    margin: 20px auto 0px auto;
    background-size: cover;
    border: 0.4rem solid #848d96;
    border-radius: 50%;
    background-repeat: no-repeat;
  }

  .contact-button {
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
  }
  .svg-contact-button {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 767px) {
  .name {
    margin-bottom: 20px;
  }

  .rightcontent {
    padding: 60px;
  }

  .image {
    /*height: 240px;*/
    /*max-height: 30vh;*/

    width: 240px;
    height: 240px;
  }
}

@media screen and (max-width: 479px) {
  .bold-text {
    font-size: 42px;
    line-height: 42px;
  }

  .bio {
    font-size: 16px;
  }

  .credit {
    font-size: 12px;
  }

  .rightcontent {
    padding: 30px 20px;
  }

  .image {
    /*height: 240px;*/
    /*max-height: 30vh;*/

    width: 180px;
    height: 180px;
  }
}
